.App {
  background: #483d3f;
  width: 30rem;
  padding: 1em;
}

.display {
  background: #070606;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0.5em 1em;
  text-align: right;
  text-shadow: 0 0 0.15em #fff;
}

.buttons {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 0.2rem;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  background: var(--background, #77685d);
  border: 0;
  color: #fff;
  cursor: pointer;
  font: inherit;
  padding: 1em;
}

.btn:focus,
.btn:hover {
  background: linear-gradient(
      0,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    var(--background, #77685d);
}

.btn:focus {
  box-shadow: inset 0 0 0 0.25em rgba(255, 255, 255, 0.2);
  outline: none;
}

.btn::-moz-focus-inner {
  border: none;
}

.btn_color_red {
  --background: #d80404;
}
.btn_color_blue {
  --background: #058ed9;
}
.btn_color_light {
  --background: #a39a92;
}

.btn_size_wide {
  grid-column: span 2;
}
.btn_size_tall {
  grid-row: span 2;
}
