*,
::before,
::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #f4ebd9;
  font: 1.6rem/1.4 source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  margin: 0;
}

#root {
  align-items: center;
  display: flex;
  justify-content: center;
}
